---
import Sidebar from "../components/Sidebar.astro";
import TopMenu from "../components/TopMenu.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-gray-100">
    <TopMenu />
    <Sidebar />
    <div class="ml-auto mb-6 lg:w-[75%] xl:w-[80%] 2xl:w-[85%]">
      <div class="px-2 py-2 m-2 mt-24">
        <slot />
      </div>
    </div>
  </body>
</html>
<!-- <style is:global></style> -->
